# Python
__pycache__/
*.py[cod]
*.pyd

# Entorno virtual
.venv/
venv/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# LaTeX temporales
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc

# Streamlit
.streamlit/secrets.toml
